/[Bb]inaries/
/[Ll]ibrary/
/[Oo]bj/
/[Tt]emp/
/Assets/AssetStoreTools*/*
/Assets/ThirdPaty*/*
/Promotional Images*/*
/Screenshots*/*
/Docs/Documentation*/*

*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.user
*.userprefs
*.tmp
*.pidb

*.DS_Store